@media(max-width:8000px){
    .buyNow_container{
        font-size: 14px;
        font-weight: 600;
        color: rgb(134, 134, 134);
        background: white;
    }
    .buyNow_header{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .buyNow_header_logo img{
        width: 120px;
    }
    .buyNow_header_back_btn{
        color: rgb(32, 124, 230);
        font-size: 13px;
        font-weight: 700;
        cursor: pointer;
    }
    .leftArrow{
        font-size: 20px;
    }
    .buyNow_header_secure_checkout{
        padding-top: 5px;
        font-size: 12px;
    }
    .buyNow_modal{
        display: flex;
        justify-content: center;
    }
    .buyNow_card{
        width: 60%;
        border: 0;
        box-shadow: 2px 2px 15px 3px rgb(198, 203, 207);
        border-radius: 10px;
    }
    .buyNow_card_header{
        display: flex;
        justify-content: space-around;
        background: #eee;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .buyNow_card_header_left{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .buyNow_card_header_right{
        width: 50%;
        display: flex;
        justify-content: space-around;
    }
    .buyNow_card_body{
        padding-top: 10px;
        padding-bottom: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .buyNow_card_body_img{
        width: 60%;
    
    }
    .buyNow_card_body_left{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .buyNow_card_body_desc{
       display: list-item;
       list-style-type: none;
    }
    .buyNow_card_body_name{
        color: #333;
        font-size: 18px;
        font-weight: 800;
    }
    .buyNow_card_body_details{
    
    }
    .buyNow_card_body_right{
        width: 50%;
        display: flex;
        justify-content: space-around;
    }
    .buyNow_card_body_price{
        font-weight: 700;
        color: #777;
    }
    .buyNow_card_body_action{
        cursor: pointer;
    }
    .buyNow_card_footer{
        display: flex;
        justify-content: space-between;
        border-top: 2px solid #eee;
    }
    .buyNow_card_footer_left{
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .buyNow_card_footer_c_input{
       width: 140%;
       padding: 5px ;
       border: 1px solid #cdcdcd;
       border-radius: 5px;
       box-shadow: none;
       outline: none;
    }
    .buyNow_card_footer_c_btn{
        border: 0;
        box-shadow: none;
        outline: none;
        border-radius: 5px;
        background: rgb(233, 56, 56);
        padding: 5px;
        padding-left: 7px;
        padding-right: 7px;
        color: white;
        border: 1px solid  rgb(233, 56, 56);
    }
    .buyNow_card_footer_c_btn:hover{
        color:  rgb(233, 56, 56);
        background: white;
        border: 1px solid  rgb(233, 56, 56);
    }
    .total_price{
        margin: 5px;
        margin-right: 15px;
        text-align: end;
    }
    .border_bottom{
        border-bottom: 1px solid #eee;
    }
    .total_price_amt{
        font-size: 17px;
        font-weight: bolder;
        color: #000;
    }
    .couponCode_Button_container{
        display: flex;
        justify-content: center;    
    }
    .couponCode_button{
        width: 60%;
        border: 2px solid #d9d9d9;
        border-radius: 10px;    
        text-align: center;
        font-size: 15px;
        cursor: pointer;
        color: rgb(32, 124, 230);
        transition: 0.5s ease;
    }
    .couponCode_button:hover{
        background: rgb(32, 124, 230);
        color: white;
        transform: translateY(-5px);
    }
    .hideCoupon div{
        display: none;
    }
    .couponDesc{
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(8, 211, 52);
        font-size: 16px;
        font-weight: 800;
        padding-bottom: 5px;
        
    }
    .discountAmount{
        padding: 5px;
    }
    .dispNone{
        display: none!important;
    }
    .payNow{
        display: flex;
        justify-content: flex-end;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .payNow_btn{
        outline: none;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: none;
        border: 0;
        color: white;
        margin-right: 30px;
        border-radius: 15px;
        background: linear-gradient( to left , rgb(95, 176, 230) , rgb(4, 107, 190) );
        box-shadow: 2px 0px 3px 0px rgb(80, 169, 221) ;
        transition: 1s ease;
    }
    .payNow_btn:hover{
        background: linear-gradient( to right , rgb(95, 176, 230) , rgb(4, 107, 190) );
    }
}
@media(max-width:768px){
    .buyNow_header{
        display: flex;
        justify-content: space-between;
    }
    .buyNow_card{
        width: 90%;
    }
    .buyNow_card_body_img{
        width: 60%;
        display: none;    
    }
    .buyNow_card_footer{
        display: list-item;
        list-style-type: none;
    }
    .buyNow_card_footer_left{
        width: 100%;
        display: list-item;
        list-style-type: none;
    }
    .buyNow_card_footer_c_input{
        width: 90%;
    }
    .buyNow_card_footer_left div{
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }
    .couponCode_button{
        width: 90%;
    }
    
}
